SnakeAndLaddersFinalProject/Connected Services/UserService/SnakeAndLadders.Contracts.Dtos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentSkinId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentSkinUnlockedId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasProfilePhoto" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePhotoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="ProfilePhotoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProfilePhotoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfilePhotoDto" nillable="true" type="tns:ProfilePhotoDto" />
  <xs:complexType name="UpdateProfileRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePhotoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateProfileRequestDto" nillable="true" type="tns:UpdateProfileRequestDto" />
  <xs:complexType name="AvatarProfileOptionsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatars" nillable="true" type="tns:ArrayOfAvatarProfileOptionDto" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarProfileOptionsDto" nillable="true" type="tns:AvatarProfileOptionsDto" />
  <xs:complexType name="ArrayOfAvatarProfileOptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvatarProfileOptionDto" nillable="true" type="tns:AvatarProfileOptionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvatarProfileOptionDto" nillable="true" type="tns:ArrayOfAvatarProfileOptionDto" />
  <xs:complexType name="AvatarProfileOptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCurrent" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnlocked" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvatarProfileOptionDto" nillable="true" type="tns:AvatarProfileOptionDto" />
</xs:schema>