SnakeAndLaddersFinalProject/Connected Services/SocialProfileService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/social/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" />
  <xs:element name="GetSocialProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSocialProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" minOccurs="0" name="GetSocialProfilesResult" nillable="true" type="q1:ArrayOfSocialProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkSocialProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" minOccurs="0" name="request" nillable="true" type="q2:LinkSocialProfileRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkSocialProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" minOccurs="0" name="LinkSocialProfileResult" nillable="true" type="q3:SocialProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlinkSocialProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" minOccurs="0" name="request" nillable="true" type="q4:UnlinkSocialProfileRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlinkSocialProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>