SnakeAndLaddersFinalProject/Connected Services/PlayerReportService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReportDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportedUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ReporterUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDto" nillable="true" type="tns:ReportDto" />
  <xs:complexType name="BanInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BanEndsAtUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsBanned" type="xs:boolean" />
      <xs:element minOccurs="0" name="SanctionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BanInfoDto" nillable="true" type="tns:BanInfoDto" />
  <xs:complexType name="ArrayOfSanctionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanctionDto" nillable="true" type="tns:SanctionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanctionDto" nillable="true" type="tns:ArrayOfSanctionDto" />
  <xs:complexType name="SanctionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppliedBySystem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReportReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SanctionDateUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SanctionId" type="xs:int" />
      <xs:element minOccurs="0" name="SanctionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanctionDto" nillable="true" type="tns:SanctionDto" />
  <xs:complexType name="QuickKickDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostUserId" type="xs:int" />
      <xs:element minOccurs="0" name="KickReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuickKickDto" nillable="true" type="tns:QuickKickDto" />
</xs:schema>