SnakeAndLaddersFinalProject/Connected Services/PlayerReportService/PlayerReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PlayerReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/report/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/report/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" />
      <xsd:import schemaLocation="http://localhost:8085/report/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/report/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlayerReportService_CreateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReport" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_CreateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReportResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_CreateReport_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_GetCurrentBan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentBan" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_GetCurrentBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentBanResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_GetCurrentBan_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_GetSanctionsHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSanctionsHistory" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_GetSanctionsHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSanctionsHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_GetSanctionsHistory_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_QuickKickPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:QuickKickPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_QuickKickPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuickKickPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerReportService_QuickKickPlayer_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IPlayerReportService">
    <wsdl:operation name="CreateReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerReportService/CreateReport" message="tns:IPlayerReportService_CreateReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerReportService/CreateReportResponse" message="tns:IPlayerReportService_CreateReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPlayerReportService/CreateReportServiceFaultFault" name="ServiceFaultFault" message="tns:IPlayerReportService_CreateReport_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerReportService/GetCurrentBan" message="tns:IPlayerReportService_GetCurrentBan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerReportService/GetCurrentBanResponse" message="tns:IPlayerReportService_GetCurrentBan_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPlayerReportService/GetCurrentBanServiceFaultFault" name="ServiceFaultFault" message="tns:IPlayerReportService_GetCurrentBan_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSanctionsHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerReportService/GetSanctionsHistory" message="tns:IPlayerReportService_GetSanctionsHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerReportService/GetSanctionsHistoryResponse" message="tns:IPlayerReportService_GetSanctionsHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPlayerReportService/GetSanctionsHistoryServiceFaultFault" name="ServiceFaultFault" message="tns:IPlayerReportService_GetSanctionsHistory_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuickKickPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerReportService/QuickKickPlayer" message="tns:IPlayerReportService_QuickKickPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerReportService/QuickKickPlayerResponse" message="tns:IPlayerReportService_QuickKickPlayer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPlayerReportService/QuickKickPlayerServiceFaultFault" name="ServiceFaultFault" message="tns:IPlayerReportService_QuickKickPlayer_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPlayerReportService" type="tns:IPlayerReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReport">
      <soap:operation soapAction="http://tempuri.org/IPlayerReportService/CreateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBan">
      <soap:operation soapAction="http://tempuri.org/IPlayerReportService/GetCurrentBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSanctionsHistory">
      <soap:operation soapAction="http://tempuri.org/IPlayerReportService/GetSanctionsHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QuickKickPlayer">
      <soap:operation soapAction="http://tempuri.org/IPlayerReportService/QuickKickPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPlayerReportService" type="tns:IPlayerReportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerReportService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateReport">
      <soap12:operation soapAction="http://tempuri.org/IPlayerReportService/CreateReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBan">
      <soap12:operation soapAction="http://tempuri.org/IPlayerReportService/GetCurrentBan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSanctionsHistory">
      <soap12:operation soapAction="http://tempuri.org/IPlayerReportService/GetSanctionsHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QuickKickPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerReportService/QuickKickPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlayerReportService">
    <wsdl:port name="BasicHttpBinding_IPlayerReportService" binding="tns:BasicHttpBinding_IPlayerReportService">
      <soap:address location="http://localhost:8085/report/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPlayerReportService" binding="tns:NetTcpBinding_IPlayerReportService">
      <soap12:address location="net.tcp://localhost:8095/report/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/report/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAP-ASTRID\reino</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>