SnakeAndLaddersFinalProject/Connected Services/GameplayService/GameplayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameplayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameplayService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/gameplay/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/gameplay/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/gameplay/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" />
      <xsd:import schemaLocation="http://localhost:8085/gameplay/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" />
      <xsd:import schemaLocation="http://localhost:8085/gameplay/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Helpers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameplayService_RollDice_InputMessage">
    <wsdl:part name="parameters" element="tns:RollDice" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_RollDice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollDiceResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_UseItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UseItem" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_UseItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseItemResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_RegisterTurnTimeout_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTurnTimeout" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_RegisterTurnTimeout_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTurnTimeoutResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnPlayerMoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerMoved" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnTurnChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTurnChanged" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnItemUsed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnItemUsed" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IGameplayService_OnTurnTimerUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTurnTimerUpdated" />
  </wsdl:message>
  <wsdl:portType name="IGameplayService">
    <wsdl:operation name="RollDice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/RollDice" message="tns:IGameplayService_RollDice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/RollDiceResponse" message="tns:IGameplayService_RollDice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/GetGameState" message="tns:IGameplayService_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/GetGameStateResponse" message="tns:IGameplayService_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UseItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/UseItem" message="tns:IGameplayService_UseItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/UseItemResponse" message="tns:IGameplayService_UseItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/JoinGame" message="tns:IGameplayService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/JoinGameResponse" message="tns:IGameplayService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/LeaveGame" message="tns:IGameplayService_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/LeaveGameResponse" message="tns:IGameplayService_LeaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTurnTimeout">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayService/RegisterTurnTimeout" message="tns:IGameplayService_RegisterTurnTimeout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/RegisterTurnTimeoutResponse" message="tns:IGameplayService_RegisterTurnTimeout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerMoved">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnPlayerMoved" message="tns:IGameplayService_OnPlayerMoved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTurnChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnTurnChanged" message="tns:IGameplayService_OnTurnChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnItemUsed">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnItemUsed" message="tns:IGameplayService_OnItemUsed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnPlayerLeft" message="tns:IGameplayService_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnTurnTimerUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayService/OnTurnTimerUpdated" message="tns:IGameplayService_OnTurnTimerUpdated_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameplayService" type="tns:IGameplayService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameplayService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RollDice">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/RollDice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/GetGameState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseItem">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/UseItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTurnTimeout">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/RegisterTurnTimeout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerMoved">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnPlayerMoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTurnChanged">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnTurnChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnItemUsed">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnItemUsed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTurnTimerUpdated">
      <soap12:operation soapAction="http://tempuri.org/IGameplayService/OnTurnTimerUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameplayService">
    <wsdl:port name="NetTcpBinding_IGameplayService" binding="tns:NetTcpBinding_IGameplayService">
      <soap12:address location="net.tcp://localhost:8095/gameplay/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/gameplay/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOPIRENE\irene</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>