SnakeAndLaddersFinalProject/Connected Services/GameplayService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/gameplay/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" />
  <xs:complexType name="RollDiceRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerUserId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentCellIndex" type="xs:int" />
      <xs:element minOccurs="0" name="DiceSlotNumber" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RollDiceRequestDto" nillable="true" type="tns:RollDiceRequestDto" />
  <xs:complexType name="RollDiceResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerUserId" type="xs:int" />
      <xs:element minOccurs="0" name="FromCellIndex" type="xs:int" />
      <xs:element minOccurs="0" name="ToCellIndex" type="xs:int" />
      <xs:element minOccurs="0" name="DiceValue" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" minOccurs="0" name="MoveResult" type="q1:MoveEffectType" />
      <xs:element minOccurs="0" name="UpdatedTokens" nillable="true" type="tns:ArrayOfTokenStateDto" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RollDiceResponseDto" nillable="true" type="tns:RollDiceResponseDto" />
  <xs:complexType name="ArrayOfTokenStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TokenStateDto" nillable="true" type="tns:TokenStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTokenStateDto" nillable="true" type="tns:ArrayOfTokenStateDto" />
  <xs:complexType name="TokenStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellIndex" type="xs:int" />
      <xs:element minOccurs="0" name="HasPendingRocketBonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasShield" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemainingFrozenTurns" type="xs:int" />
      <xs:element minOccurs="0" name="RemainingShieldTurns" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenStateDto" nillable="true" type="tns:TokenStateDto" />
  <xs:complexType name="GetGameStateRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGameStateRequestDto" nillable="true" type="tns:GetGameStateRequestDto" />
  <xs:complexType name="GetGameStateResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTurnUserId" type="xs:int" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="IsFinished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tokens" nillable="true" type="tns:ArrayOfTokenStateDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGameStateResponseDto" nillable="true" type="tns:GetGameStateResponseDto" />
  <xs:complexType name="UseItemRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerUserId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemSlotNumber" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TargetUserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UseItemRequestDto" nillable="true" type="tns:UseItemRequestDto" />
  <xs:complexType name="UseItemResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="FailureReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerUserId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetUserId" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" minOccurs="0" name="EffectType" type="q2:ItemEffectType" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedGameState" nillable="true" type="tns:GetGameStateResponseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UseItemResponseDto" nillable="true" type="tns:UseItemResponseDto" />
  <xs:complexType name="PlayerMoveResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiceValue" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" minOccurs="0" name="EffectType" type="q3:MoveEffectType" />
      <xs:element minOccurs="0" name="FromCellIndex" type="xs:int" />
      <xs:element minOccurs="0" name="HasExtraTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasWon" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToCellIndex" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerMoveResultDto" nillable="true" type="tns:PlayerMoveResultDto" />
  <xs:complexType name="TurnChangedDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="PreviousTurnUserId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentTurnUserId" type="xs:int" />
      <xs:element minOccurs="0" name="IsExtraTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TurnChangedDto" nillable="true" type="tns:TurnChangedDto" />
  <xs:complexType name="ItemUsedNotificationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectResult" nillable="true" type="tns:ItemEffectResultDto" />
      <xs:element minOccurs="0" name="UpdatedGameState" nillable="true" type="tns:GetGameStateResponseDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemUsedNotificationDto" nillable="true" type="tns:ItemUsedNotificationDto" />
  <xs:complexType name="ItemEffectResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" minOccurs="0" name="EffectType" type="q4:ItemEffectType" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FromCellIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ToCellIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WasBlockedByShield" type="xs:boolean" />
      <xs:element minOccurs="0" name="TargetFrozen" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShieldActivated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemEffectResultDto" nillable="true" type="tns:ItemEffectResultDto" />
  <xs:complexType name="PlayerLeftDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasCurrentTurnPlayer" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewCurrentTurnUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerLeftDto" nillable="true" type="tns:PlayerLeftDto" />
</xs:schema>