SnakeAndLaddersFinalProject/Connected Services/LobbyService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateGameRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dificultad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostUserId" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TtlMinutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateGameRequest" nillable="true" type="tns:CreateGameRequest" />
  <xs:complexType name="CreateGameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoPartida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiresAtUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PartidaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateGameResponse" nillable="true" type="tns:CreateGameResponse" />
</xs:schema>