SnakeAndLaddersFinalProject/Connected Services/LobbyService/LobbyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/lobby/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/lobby/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" />
      <xsd:import schemaLocation="http://localhost:8085/lobby/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/lobby/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateGame_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q1:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q2:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_LeaveLobby_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q3:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMatch" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartMatch_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q4:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobbyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLobbyInfo" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobbyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLobbyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobbyInfo_ServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Faults" name="detail" element="q5:ServiceFault" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SubscribePublicLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePublicLobbies" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UnsubscribePublicLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribePublicLobbies" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnLobbyUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLobbyUpdated" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnLobbyClosed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLobbyClosed" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnKickedFromLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnKickedFromLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_OnPublicLobbiesChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPublicLobbiesChanged" />
  </wsdl:message>
  <wsdl:portType name="ILobbyService">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/CreateGame" message="tns:ILobbyService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/CreateGameResponse" message="tns:ILobbyService_CreateGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/CreateGameServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_CreateGame_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/JoinLobby" message="tns:ILobbyService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/JoinLobbyResponse" message="tns:ILobbyService_JoinLobby_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/JoinLobbyServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_JoinLobby_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobby" message="tns:ILobbyService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobbyResponse" message="tns:ILobbyService_LeaveLobby_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/LeaveLobbyServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_LeaveLobby_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/StartMatch" message="tns:ILobbyService_StartMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/StartMatchResponse" message="tns:ILobbyService_StartMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/StartMatchServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_StartMatch_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLobbyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetLobbyInfo" message="tns:ILobbyService_GetLobbyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetLobbyInfoResponse" message="tns:ILobbyService_GetLobbyInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ILobbyService/GetLobbyInfoServiceFaultFault" name="ServiceFaultFault" message="tns:ILobbyService_GetLobbyInfo_ServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribePublicLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SubscribePublicLobbies" message="tns:ILobbyService_SubscribePublicLobbies_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePublicLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/UnsubscribePublicLobbies" message="tns:ILobbyService_UnsubscribePublicLobbies_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLobbyUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnLobbyUpdated" message="tns:ILobbyService_OnLobbyUpdated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnLobbyClosed">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnLobbyClosed" message="tns:ILobbyService_OnLobbyClosed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnKickedFromLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnKickedFromLobby" message="tns:ILobbyService_OnKickedFromLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPublicLobbiesChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/OnPublicLobbiesChanged" message="tns:ILobbyService_OnPublicLobbiesChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILobbyService" type="tns:ILobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILobbyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/JoinLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/StartMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLobbyInfo">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/GetLobbyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceFaultFault">
        <soap12:fault use="literal" name="ServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SubscribePublicLobbies">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/SubscribePublicLobbies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePublicLobbies">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/UnsubscribePublicLobbies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnLobbyUpdated">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnLobbyUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLobbyClosed">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnLobbyClosed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnKickedFromLobby">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnKickedFromLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPublicLobbiesChanged">
      <soap12:operation soapAction="http://tempuri.org/ILobbyService/OnPublicLobbiesChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyService">
    <wsdl:port name="NetTcpBinding_ILobbyService" binding="tns:NetTcpBinding_ILobbyService">
      <soap12:address location="net.tcp://localhost:8095/lobby/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/lobby/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>