SnakeAndLaddersFinalProject/Connected Services/StatsService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerRankingItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerRankingItemDto" nillable="true" type="tns:PlayerRankingItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerRankingItemDto" nillable="true" type="tns:ArrayOfPlayerRankingItemDto" />
  <xs:complexType name="PlayerRankingItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerRankingItemDto" nillable="true" type="tns:PlayerRankingItemDto" />
  <xs:complexType name="PlayerStatsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesWon" type="xs:int" />
      <xs:element minOccurs="0" name="RankingPosition" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WinPercentage" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStatsDto" nillable="true" type="tns:PlayerStatsDto" />
</xs:schema>