SnakeAndLaddersFinalProject/Connected Services/GameBoardService/GameBoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameBoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameBoardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/gameboard/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/gameboard/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/gameboard/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" />
      <xsd:import schemaLocation="http://localhost:8085/gameboard/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Helpers" />
      <xsd:import schemaLocation="http://localhost:8085/gameboard/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameBoardService_CreateBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBoard" />
  </wsdl:message>
  <wsdl:message name="IGameBoardService_CreateBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameBoardService_GetBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBoard" />
  </wsdl:message>
  <wsdl:message name="IGameBoardService_GetBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBoardResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameBoardService">
    <wsdl:operation name="CreateBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameBoardService/CreateBoard" message="tns:IGameBoardService_CreateBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameBoardService/CreateBoardResponse" message="tns:IGameBoardService_CreateBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameBoardService/GetBoard" message="tns:IGameBoardService_GetBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameBoardService/GetBoardResponse" message="tns:IGameBoardService_GetBoard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameBoardService" type="tns:IGameBoardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBoard">
      <soap:operation soapAction="http://tempuri.org/IGameBoardService/CreateBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <soap:operation soapAction="http://tempuri.org/IGameBoardService/GetBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameBoardService" type="tns:IGameBoardService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameBoardService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameBoardService/CreateBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameBoardService/GetBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameBoardService">
    <wsdl:port name="BasicHttpBinding_IGameBoardService" binding="tns:BasicHttpBinding_IGameBoardService">
      <soap:address location="http://localhost:8085/gameboard/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameBoardService" binding="tns:NetTcpBinding_IGameBoardService">
      <soap12:address location="net.tcp://localhost:8097/gameboard/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8097/gameboard/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOPIRENE\irene</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>