SnakeAndLaddersFinalProject/Connected Services/GameBoardService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" />
  <xs:element name="CreateBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" minOccurs="0" name="request" nillable="true" type="q1:CreateBoardRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" minOccurs="0" name="CreateBoardResult" nillable="true" type="q2:CreateBoardResponseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" minOccurs="0" name="GetBoardResult" nillable="true" type="q3:BoardDefinitionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>