SnakeAndLaddersFinalProject/Connected Services/InventoryService/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IInventoryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/inventory/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/inventory/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/inventory/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos.Gameplay" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryService_GetInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_GetInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateSelectedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSelectedItems" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateSelectedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSelectedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateSelectedDice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSelectedDice" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UpdateSelectedDice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSelectedDiceResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_EquipItemToSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:EquipItemToSlot" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_EquipItemToSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:EquipItemToSlotResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UnequipItemFromSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:UnequipItemFromSlot" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UnequipItemFromSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnequipItemFromSlotResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_EquipDiceToSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:EquipDiceToSlot" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_EquipDiceToSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:EquipDiceToSlotResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UnequipDiceFromSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:UnequipDiceFromSlot" />
  </wsdl:message>
  <wsdl:message name="IInventoryService_UnequipDiceFromSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnequipDiceFromSlotResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryService">
    <wsdl:operation name="GetInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/GetInventory" message="tns:IInventoryService_GetInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/GetInventoryResponse" message="tns:IInventoryService_GetInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/UpdateSelectedItems" message="tns:IInventoryService_UpdateSelectedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/UpdateSelectedItemsResponse" message="tns:IInventoryService_UpdateSelectedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedDice">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/UpdateSelectedDice" message="tns:IInventoryService_UpdateSelectedDice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/UpdateSelectedDiceResponse" message="tns:IInventoryService_UpdateSelectedDice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EquipItemToSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/EquipItemToSlot" message="tns:IInventoryService_EquipItemToSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/EquipItemToSlotResponse" message="tns:IInventoryService_EquipItemToSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnequipItemFromSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/UnequipItemFromSlot" message="tns:IInventoryService_UnequipItemFromSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/UnequipItemFromSlotResponse" message="tns:IInventoryService_UnequipItemFromSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EquipDiceToSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/EquipDiceToSlot" message="tns:IInventoryService_EquipDiceToSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/EquipDiceToSlotResponse" message="tns:IInventoryService_EquipDiceToSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnequipDiceFromSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryService/UnequipDiceFromSlot" message="tns:IInventoryService_UnequipDiceFromSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryService/UnequipDiceFromSlotResponse" message="tns:IInventoryService_UnequipDiceFromSlot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryService" type="tns:IInventoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/GetInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedItems">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/UpdateSelectedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedDice">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/UpdateSelectedDice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EquipItemToSlot">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/EquipItemToSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnequipItemFromSlot">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/UnequipItemFromSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EquipDiceToSlot">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/EquipDiceToSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnequipDiceFromSlot">
      <soap:operation soapAction="http://tempuri.org/IInventoryService/UnequipDiceFromSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IInventoryService" type="tns:IInventoryService">
    <wsp:PolicyReference URI="#NetTcpBinding_IInventoryService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetInventory">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/GetInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedItems">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/UpdateSelectedItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedDice">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/UpdateSelectedDice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EquipItemToSlot">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/EquipItemToSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnequipItemFromSlot">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/UnequipItemFromSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EquipDiceToSlot">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/EquipDiceToSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnequipDiceFromSlot">
      <soap12:operation soapAction="http://tempuri.org/IInventoryService/UnequipDiceFromSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_IInventoryService" binding="tns:BasicHttpBinding_IInventoryService">
      <soap:address location="http://localhost:8085/inventory/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IInventoryService" binding="tns:NetTcpBinding_IInventoryService">
      <soap12:address location="net.tcp://localhost:8095/inventory/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/inventory/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOPIRENE\irene</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>