SnakeAndLaddersFinalProject/Connected Services/ShopService/ShopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ShopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IShopService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/shop/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/shop/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/shop/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Enums" />
      <xsd:import schemaLocation="http://localhost:8085/shop/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SnakeAndLadders.Contracts.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopService_PurchaseAvatarChest_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseAvatarChest" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseAvatarChest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseAvatarChestResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseStickerChest_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseStickerChest" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseStickerChest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseStickerChestResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseDice_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseDice" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseDice_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseDiceResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseItemChest_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseItemChest" />
  </wsdl:message>
  <wsdl:message name="IShopService_PurchaseItemChest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseItemChestResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_GetCurrentCoins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCoins" />
  </wsdl:message>
  <wsdl:message name="IShopService_GetCurrentCoins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentCoinsResponse" />
  </wsdl:message>
  <wsdl:message name="IShopService_GetUserStickers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStickers" />
  </wsdl:message>
  <wsdl:message name="IShopService_GetUserStickers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserStickersResponse" />
  </wsdl:message>
  <wsdl:portType name="IShopService">
    <wsdl:operation name="PurchaseAvatarChest">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/PurchaseAvatarChest" message="tns:IShopService_PurchaseAvatarChest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/PurchaseAvatarChestResponse" message="tns:IShopService_PurchaseAvatarChest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseStickerChest">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/PurchaseStickerChest" message="tns:IShopService_PurchaseStickerChest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/PurchaseStickerChestResponse" message="tns:IShopService_PurchaseStickerChest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseDice">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/PurchaseDice" message="tns:IShopService_PurchaseDice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/PurchaseDiceResponse" message="tns:IShopService_PurchaseDice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseItemChest">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/PurchaseItemChest" message="tns:IShopService_PurchaseItemChest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/PurchaseItemChestResponse" message="tns:IShopService_PurchaseItemChest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCoins">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/GetCurrentCoins" message="tns:IShopService_GetCurrentCoins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/GetCurrentCoinsResponse" message="tns:IShopService_GetCurrentCoins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStickers">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/GetUserStickers" message="tns:IShopService_GetUserStickers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/GetUserStickersResponse" message="tns:IShopService_GetUserStickers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShopService" type="tns:IShopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseAvatarChest">
      <soap:operation soapAction="http://tempuri.org/IShopService/PurchaseAvatarChest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseStickerChest">
      <soap:operation soapAction="http://tempuri.org/IShopService/PurchaseStickerChest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseDice">
      <soap:operation soapAction="http://tempuri.org/IShopService/PurchaseDice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseItemChest">
      <soap:operation soapAction="http://tempuri.org/IShopService/PurchaseItemChest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCoins">
      <soap:operation soapAction="http://tempuri.org/IShopService/GetCurrentCoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStickers">
      <soap:operation soapAction="http://tempuri.org/IShopService/GetUserStickers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IShopService" type="tns:IShopService">
    <wsp:PolicyReference URI="#NetTcpBinding_IShopService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PurchaseAvatarChest">
      <soap12:operation soapAction="http://tempuri.org/IShopService/PurchaseAvatarChest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseStickerChest">
      <soap12:operation soapAction="http://tempuri.org/IShopService/PurchaseStickerChest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseDice">
      <soap12:operation soapAction="http://tempuri.org/IShopService/PurchaseDice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchaseItemChest">
      <soap12:operation soapAction="http://tempuri.org/IShopService/PurchaseItemChest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentCoins">
      <soap12:operation soapAction="http://tempuri.org/IShopService/GetCurrentCoins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStickers">
      <soap12:operation soapAction="http://tempuri.org/IShopService/GetUserStickers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShopService">
    <wsdl:port name="BasicHttpBinding_IShopService" binding="tns:BasicHttpBinding_IShopService">
      <soap:address location="http://localhost:8085/shop/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IShopService" binding="tns:NetTcpBinding_IShopService">
      <soap12:address location="net.tcp://localhost:8095/shop/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/shop/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAP-ASTRID\reino</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>